div.content {
  margin-top: 50px;
  width: 100%;
  padding: 100px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
}

h1, h2, p {
  text-align: center;
  margin: 40px auto 40px auto;
  width: 80%;
}

div table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-collapse: collapse;
}

div table th, div table td {
  border: 1px solid #dee2e6;
  padding: 10px;
  text-align: left;
}

div table th {
  background-color: #e9ecef;
}
